/***** CSS RESET *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********************/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}


.overlay:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Navbar  */
.navbar_top {
    position: fixed;
    height: 100px;
    width: calc(100% - 300px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 200;
    right: 0;
    top: 0;
    text-align: right;
}

.navbar_top>button {
    margin-right: 50px;
    margin-top: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    background-color: transparent;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.navbar_top button:hover {
    color: #fff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

main {
    height: calc(100vh - 110px);
    width: 100%;
    display: flex;
}

/* Content */
.content {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 300px);
    height: 100%;
    background-color: #141922;
    padding: 20px;
    align-content: flex-start;
}

/* Navbar content */
.navbar_content {
    text-transform: uppercase;
    padding-top: 80px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.navbar_content ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar_content li {
    margin: 20px 10px;
    height: 22px;
    display: inline-block;
}

.navbar_content li:hover a {
    color: #fff;
}

.navbar_content li:active::after {
    content: '';
    display: block;
    background-color: #adff2f;
    width: 30px;
    height: 3px;
    margin: 2px auto;
}

.navbar_content a {
    color: #a3a3a3;
    text-decoration: none;
}

/* /Navbar content */
.section {
    color: #fff;
    width: 100%
}

.section>p {
    width: 100%;
    color: #a3a3a3;
}


/* Recently played */

/* Song cards */
.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 30px 0;
}

.song_card {
    text-align: center;
    flex-basis: calc((100% / 6) - 30px);
    color: #fff;
    margin: 10px 15px;
}

.cover {
    position: relative;
}

.cover>img {
    width: 100%;
    object-fit: contain;
}

.cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.cover:hover .play {
    visibility: visible;
}

.play {
    content: "";
    position: absolute;
    top: 50%;
    color: #fff;
    left: 50%;
    z-index: 1;
    visibility: hidden;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.play>i::before {
    font-size: 70px;
}

.song_card>h3 {
    margin-top: 10px;
}

.song_card>h4 {
    color: #a3a3a3;
    margin-top: 10px;
}

/* /Song cards */


/* Popular songs */
.popular_songs .cover>img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.popular_songs .cover::after {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* /Popular songs */


/* Aside */

aside {
    overflow: hidden;
    height: 100%;
    width: 300px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    justify-content: space-between;
    padding: 20px 10px;
}

.top_aside {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
    flex: 3;
}

.bottom_aside {
    width: 90%;
    margin-bottom: 15px;
    flex: 1;
}

#logo {
    width: 100%;
}

#logo>img {
    margin-left: 40px;
    width: 50%;
}

#logo>img:last-child {
    display: none;
}

/* Navbbar Aside */

aside>* {
    width: 100%
}

aside nav {
    display: flex;
    flex-direction: column;
}

aside nav>ul {
    margin-left: 4px;
    margin-top: 40px;
    position: relative;
}

aside li:active {
    border-left: 2px solid #adff2f;
}

aside li>a:active {
    margin-left: -2px;
}

aside li {
    padding-bottom: 15px;
    padding-left: 25px;
    display: flex;
    align-items: center;
}

aside li:hover svg,
aside li:hover a {
    color: #fff;
    fill: #fff;
}

aside li>a {
    display: flex;
    align-items: center;
    color: #666666;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

aside a>svg {
    width: 30px;
    fill: #bbb;
}

aside a>span {
    margin-left: 3px;
}


/* Crea Playlist */
.crea_playlist {
    display: flex;
    flex-direction: column;
    color: #666666;
    overflow-y: auto;
    height: 100%;
    padding-left: 25px;
}

.playlists {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.crea_playlist li {
    padding-left: 0px;
}

.crea_playlist>h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.plus_icon_and_text {
    margin-bottom: 20px;
}

.plus_icon_and_text>a {
    display: flex;
    align-items: center;
    align-content: center;
    color: #666666;
    text-decoration: none;
}

.plus_icon_and_text a:hover,
.plus_icon_and_text a:hover i {
    color: #fff;
}

.plus_icon_and_text i {
    font-size: 40px;
    color: #bbb;
    margin-right: 5px;
}

.app_box {
    border-bottom: 3px solid #6666;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.app_box>a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 100%;
    text-decoration: none;
    color: #666666;
    fill: #666666;
}

.app_box>a:hover>* {
    color: #fff;
    fill: #fff;
}

.app_box>a>svg {
    flex-basis: 20px;
    margin-right: 10px;
}

.user_box {
    display: flex;
    color: #fff;
    fill: #fff;
    align-items: center;
    margin-top: 10px;
}

.user_box>svg {
    flex-basis: 25px;
    margin-right: 10px;
    background-color: #666666;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* /Navbbar Aside */


footer {
    width: 100%;
    height: 110px;
    overflow-x: hidden;
    background-color: #282828;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15px;
}

.song_played_footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.song_title>h5 {
    font-size: 14px;
}

.song_title>p {
    font-size: 12px;
    width: 100%;

}

.song_title>p>a:hover {
    color: #fff;
    text-decoration: underline;
}

.song_title>p>a {
    color: #a3a3a3;
    text-decoration: none;
}

.inner_cover>img {
    width: 60px;
    margin-right: 10px;
}

/* Heart And Folder Icons */
.heart_folder {
    height: 100%;
    padding-top: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
}

.heart_folder i {
    font-weight: 100;
    margin: 0 10px;
    color: #a3a3a3;
}

.heart_folder>a:hover i {
    color: #fff;
}

/* Media Player footer */
.media_player_footer {
    min-width: 50%;
    text-align: center;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

i[class*="fa-play-circle"] {
    font-size: 35px;
}
/* /Slider Media Player */


.media_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    min-width: 100%;
}

.media_buttons>a {
    color: #fff;
    margin: 10px 15px;
    font-size: 20px;
}

/* Slider  */
.slider{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}
/* Slider volume */
.right_footer .slider{
    width: 50%;
    margin: 0;
}
.right_footer .inner_time_line{
    width: 20%;
}
.right_footer .pointer{
    left: 20%;
}
/* /Slider volume */

.time_line{
    width: 80%;
    height: 6px;
    background-color: #666666;
    position: relative;
}

.inner_time_line{
    background-color: #bbbbbbbb;
    width: 10%;
    height: 100%;
}
.inner_time_line:hover,
.pointer:hover .inner_time_line{
    background-color: #adff2f;
}

.time_line:hover .pointer{
    visibility: visible;
}
.pointer{
    position: absolute;
    visibility: hidden;
    left: calc( 10% - 10px);
    top: -6px;
    height: 20px;
    width: 20px;
    background-color: #bbbbbb;
    border-radius: 50%;;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.time_line:active .pointer{
    left: calc( 100% - 10px);
    transition: left 10s linear;
    -webkit-transition: left 10s linear;
    -moz-transition: left 10s linear;
    -ms-transition: left 10s linear;
    -o-transition: left 10s linear;
}
.time_line:active .inner_time_line{
    width: 100%;
    transition: width 10s linear;
    -webkit-transition: width 10s linear;
    -moz-transition: width 10s linear;
    -ms-transition: width 10s linear;
    -o-transition: width 10s linear;
}

.media_buttons a:hover i {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.media_player_footer span {
    margin:  0 10px;
    text-align: center;
    width: 50px;
}


/* Right footer */
.right_footer {
    width: 350px;
    height: 100%;
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.right_footer>a {
    margin-right: 15px;
    color: #fff;
}

.right_footer>a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* Responsive */

/* LG */
@media (max-width: 1200px) {
    .song_card {
        flex-basis: calc((100% / 4) - 30px);
    }
}

/* MD */
@media (max-width: 991px) {
    .song_card {
        flex-basis: calc((100% / 2) - 30px);
    }

    aside li>a {
        visibility: visible;
    }
}

/* XS*/
@media (max-width: 767px) {
    .song_card {
        flex-basis: calc((100% / 2) - 30px);
    }

    #logo>img:first-child {
        display: none;
    }

    #logo>img:last-child {
        display: block;
        margin: 0px auto;
        width: 25px;
    }

    aside {
        width: 50px;
        padding: 0;
    }

    .top_aside nav {
        margin-top: -25px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .top_aside{
        flex: 1;
    }
    .bottom_aside {
        flex: 1;
        padding-left: 10px;
        margin-bottom: 30px;
    }

    aside li {
        padding-left: 0;
        width: 100%;
        margin: 0 auto;
    }

    aside li:active {
        border: none;
        margin-left: 2px;
    }

    aside a>svg {
        width: 20px;
    }

    aside a>span {
        display: none;
    }

    .crea_playlist {
        display: none;
    }

    .content {
        width: calc(100% - 50px);
    }

    .navbar_top {
        width: calc(100% - 50px);
    }

    .app_box,
    .user_box {
        padding: 0;
        width: 100%;
        border-bottom: none;
        margin-top: 20px;
    }

    .app_box a {
        width: 100%;
    }

    .app_box span,
    .user_box span {
        display: none;
    }

    .right_footer>a {
        margin: 0 5px;
        color: #fff;
    }
}
@media (max-height: 210px) {
    .navbar_top
    {
        display: none;
    }
}
@media (max-height: 120px) {
        .content,
        aside
        {
            display: none;
        }
}