/***** CSS RESET *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********************/
body{
    font-family: 'Montserrat', sans-serif;
}

/* Navbar  */
.navbar_top {
    position: fixed;
    height: 100px;
    width: calc(100% - 300px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 200;
    right: 0;
    top: 0;
    text-align: right;
}

.navbar_top>button {
    margin-right: 50px;
    margin-top: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    background-color: transparent;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.navbar_top button:hover {
    color: #fff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

main {
    height: calc(100vh - 100px);
    background-color: aqua;
    display: flex;
}

/* Content */
.content {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 300px);
    background-color: #141922;
    padding: 20px;
    align-content: flex-start;

}

/* Navbar content */
.navbar_content {
    text-transform: uppercase;
    padding-top: 80px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.navbar_content ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar_content li {
    margin: 20px 10px;
    height: 22px;
    display: inline-block;
}

.navbar_content li:hover a {
    color: #fff;
}

.navbar_content li:active::after {
    content: '';
    display: block;
    background-color: #adff2f;
    width: 30px;
    height: 3px;
    margin: 2px auto;
}

.navbar_content a {
    color: #a3a3a3;
    text-decoration: none;
}

/* /Navbar content */

.section {
    color: #fff;
    width: 100%
}

.section>p {
    width: 100%;
    color: #a3a3a3;
}

/* Recently played */



/* Song cards */
.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 30px 0;
}

.song_card {
    text-align: center;
    flex-basis: calc((100% / 6) - 30px);
    color: #fff;
    margin: 0 15px;
}

.cover {
    position: relative;

}

.cover>img {
    width: 100%;
    object-fit: contain;
}

.cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /*tmp*/
    width: 100%;
    /*tmp*/
}

.cover:hover .play {
    visibility: visible;
}

.play {
    content: "";
    position: absolute;
    top: 50%;
    color: #fff;
    left: 50%;
    z-index: 1;
    visibility: hidden;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.play > i::before{
    font-size: 70px;
}

.cover:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
}

.song_card>h3 {
    margin-top: 10px;
}

.song_card>h4 {
    color: #a3a3a3;
    margin-top: 10px;
}

/* /Song cards */


/* Popular songs */
.popular_songs .cover>img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.popular_songs .cover::after {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* /Popular songs */


aside {
    width: 300px;
    height: 100%;
    background-color: #000;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #282828;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.song_played_footer {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}


.song_title>h5 {
    font-size: 14px;
}
.song_title>p {
    font-size: 12px;
    width: 100%;

}
.song_title>p>a:hover {
    color: #fff;
    text-decoration: underline;
}
.song_title>p>a {
    color: #a3a3a3;
    text-decoration: none;
}

.inner_cover > img{
    width: 60px;
    margin-right: 10px;
}

/* Heart And Folder Icons */
.heart_folder {
    height: 100%;
    padding-top: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
}

.heart_folder i {
    font-weight: 100;
    margin: 0 10px;
    color: #a3a3a3;
}
.heart_folder > a:hover i{
    color: #fff;
}

/* Media Player footer */

.media_player_footer {
    min-width: 60%;
    text-align: center;
    padding: 5px 10px;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
i[class*="fa-play-circle"]{
    font-size: 35px;
}
/* Slider Media Player */
input[type="range"] { 
    -webkit-appearance: none;
    overflow: hidden;
    height: 10px;
    width: 200px;
    cursor: pointer;
    border-radius: 6px; 
}
input[type="range"]:focus { 
    border: none;
}


::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px; 
    height: 30px;
    background: #ddd;
    box-shadow: -100vw 0 0 100vw #ddd;
    border-radius: 50%; 

}

::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    width: 30px; 
    height: 30px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #adff2f;
    border-radius: 50%; 
}
::-webkit-slider-runnable-track {
    background: #666666;
}
::-moz-range-track {
    height: 30px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    width: 30px; 
    height: 30px;
    border: 3px solid #999;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    width: 30px; 
    height: 30px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}
/* /Slider Media Player */


.media_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}
output{
    text-align: left;
}
label{
    text-align: right;
}
.media_buttons > a {
    color: #fff;
    margin: 10px 15px;
    font-size: 20px;
}

.time_line{
    width: 100%;
}
.media_buttons a:hover i{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.media_player_footer .media_buttons,
.media_player_footer label {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.media_player_footer label,
.media_player_footer input,
.media_player_footer output {
    display: inline-block;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.media_player_footer output,
.media_player_footer label{
    width: 8%;
}
.media_player_footer input{
    width: 60%;
}
input[type=range]::-webkit-progress-bar {
    background-color: green;
    height: 10em;
}
/* Right footer */
.right_footer {
    width: 150px;
}

/* Responsive */

/* LG */
@media (max-width: 1200px) {
    .song_card {
        flex-basis: calc((100% / 4) - 30px);
    }
}

/* MD */
@media (max-width: 991px) {
    .song_card {
        flex-basis: calc((100% / 2) - 30px);
    }
}

/* XS*/
@media (max-width: 767px) {
    .song_card {
        flex-basis: calc((100% / 2) - 30px);
    }

    aside {
        width: 50px;
    }

    .content {
        width: calc(100% - 50px);
    }

    .navbar_top {

        width: calc(100% - 50px);

    }
}